*
{
	margin: 0;
	padding: 0;
	font-family: Calibri;
}

body
{
	background-image: url("photo.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }
    100%   {
        opacity: 100%;
    }
}

#ResponseText
{
	color: #ffffff;
	font-size: 40px;
	cursor: pointer;
	text-align: center;
	

}

#InputBox
{
	background-color: #2c2c2c;
	color: #f9f9f9;
	text-align: center;
	font-size: 27px;
	border: none;
	border-radius: 50px;
	outline: none;
	width: 720px;
	height: 50x;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

h2 {
    font-size: 2.8rem;
    font-weight: 10000;
    text-align: left;
	left: 50px;
    position: absolute;;
	
}

h3 {
	font-size: 2.5rem;
    font-weight: 5000;
    bottom: 50px;
    left: 850px;
    position: absolute;;
	
 

}
